/* ====================RESET========= */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
input,
button,
textarea {
  border: none;
  outline: none;
  resize: none;
  background: none;
}
img {
  display: block;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #fff;
  background-color: #000;
  min-width: 375px;
}
section {
  text-align: center;
}

@font-face {
  font-family: 'Post No Bills Jaffna Bold';
  src: url('fonts/PostNoBillsJaffna-Bold.woff');
}

@font-face {
  font-family: 'Post No Bills Jaffna ExtraBold Regular';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/PostNoBillsJaffna-Regular.woff');
}
.section__title {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* ====================END RESET========= */

/* =====================CONTAINER==========*/
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}
/* ====================END CONTAINER======== */

/*=================== HEADER =================*/
.header {
  background-color: #000;
  color: #777;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 15px 0;
}
.header__contact-info {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.header__contact-item {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 10px;
  color: #777;
}
.header__contact-item img {
  margin-right: 15px;
  width: 14px;
  height: 14px;
}
.header__contact-item::after {
  content: '|';
  position: absolute;
  right: 0;
  color: grey;
}

.header__contact-item:last-child::after {
  content: '';
}

.header__user-login a {
  display: flex;
  align-items: center;
  color: #777;
}
.header__user-login img {
  margin-right: 15px;
  width: 14px;
  height: 14px;
}
.header__bottom {
  background-color: #0f0f0f;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 20px; */
  text-transform: uppercase;
  height: 80px;
}

.header__nav-logo {
  font-family: 'Post No Bills Jaffna Bold';
  font-size: 36px;
  color: #fff;
  transition: color 0.5s;
}
.header__nav-logo:hover,
.header__nav-logo:focus {
  color: #393737;
}
.header__nav-link {
  display: flex;
}
.header__nav-link-item a {
  font-size: 14px;
  color: #777;
  margin: 0 15px;
  transition: color 0.3s;
}
.header__nav-icons-img {
  width: 22px;
  height: 22px;
}

.header__nav-link-item:hover a,
.header__nav-link-item:focus a {
  color: #fff;
  /* background-color: #777; */
}

/*=============== END HEADER ==============*/

/* ================HERO==================*/
.hero {
  background: url('../images/hero/hero.jpg') no-repeat center center/cover;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}
.hero__logo {
  border: 4px solid white;
  padding: 110px 65px;
}
.line {
  width: 190px;
  margin: auto;
}
.hero__logo-title {
  font-family: 'Post No Bills Jaffna Bold';
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 700;
}

.hero__logo-city {
  font-family: 'PT Sans';
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 5px;
}

.hero__description-text {
  font-family: 'PT Sans';
  max-width: 800px;
  margin-top: 80px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
/* =============END HERO================ */

/* =============COLLECTION================ */

.top_container {
  display: flex;
  justify-content: space-between;
}

.left,
.new__collection {
  width: 50%;
}
.left {
  padding: 70px 50px;
}
.card {
  background-color: transparent;
}
.card img {
  background-color: #191b1c;
  padding: 35px 20px;
  border-radius: 0;
}
.card-body {
  font-family: 'Playfair Display';
  color: #fff;
  text-align: left;
  padding-left: 0;
}
.card-title {
  font-size: 18px;
}

.card-text {
  font-size: 16px;
}
.section__collection .line {
  margin-bottom: 30px;
  width: 100px;
}
.new__collection {
  background-image: url('../images/new_collection/new_collection.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
}
.right {
  margin-bottom: 80px;
}
.collection__btn {
  display: block;
  font-family: 'PT Sans';
  font-size: 18px;
  width: 140px;
  padding: 10px 20px;
  margin: 20px auto 0 auto;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: 1px solid white;
  transition: all 0.5s;
}
.collection__btn:hover,
.collection__btn:focus {
  background-color: hsla(0, 6%, 93%, 0.992);
  color: #393737;
}

.bottom__container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.collection__img-box {
  flex: 1;
  background-image: url('../images/old_collection/old_coll.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  max-width: 580px;
}

.collection__text-container {
  flex: 1;
  padding: 50px;
  max-width: 630px;
}

.collection__text {
  font-family: 'PT Sans';
  font-size: 14px;
  margin-bottom: 30px;
}
.collection__btn-old {
  width: 290px;
}

/* =============END COLLECTION================ */

/* ============== NEW NEW_ARRIVALS*/

.new-arrivals {
  background-color: #000;
  margin-top: 80px;
}

.new-arrivals h2::after,
.section__articles h2::after,
.partners h2:after {
  content: '';
  display: block;
  width: 120px;
  height: 2px;
  background: #fff;
  margin: 48px auto 80px;
}

.card {
  border: none;
  border-radius: 0;
}

.new-arrivals .card img {
  height: 325px;
  object-fit: cover;
  background-color: #191b1c;
}

.card-title {
  font-family: 'Playfair Display';
  font-size: 18px;
  text-align: left;
  margin-top: 25px;
}

.card-text {
  font-family: 'Playfair Display';
  font-size: 16px;
  text-align: left;
}

.btn-overlay {
  font-family: 'Playfair Display';
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  transition: all 0.5s;
  width: 180px;
}

.btn-overlay:hover,
.btn-overlay:focus {
  background-color: hsla(0, 6%, 93%, 0.992);
  color: #393737;
}
/* ============== END NEW_ARRIVALS*/

/*=====================ARTICLES================*/
.section__articles {
  background-color: #0f0f0f;
  padding: 60px 20px 0 0;
}

.article {
  margin-bottom: 30px;
  text-align: left;
}

.content {
  max-width: 600px;
  margin: 0 80px;
}
.content h3 {
  font-family: 'PT Sans';
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.content p {
  font-family: 'PT Sans';
  font-size: 14px;
  font-weight: 400;
}
.content-more {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.tags {
  position: absolute;
  font-family: 'PT Sans';
  font-size: 18px;
  text-transform: uppercase;
  bottom: 0;
  right: 0;
}

.section__articles button {
  font-family: 'PT Sans';
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s;
  width: 130px;
}

.section__articles button:hover {
  background-color: hsla(0, 6%, 93%, 0.992);
  color: #393737;
}

.section__articles img {
  width: 100%;
  height: auto;
}
/*=====================END ARTICLES================*/

/* ===============PARTNERS==================== */

.partners {
  padding: 50px 0;
}
/* ===============END PARTNERS==================== */

/* ===============FOOTER==================== */
.footer__about {
  background: url('../images/footer/footer_bg.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  color: white;
}

.footer__title {
  font-family: 'Playfair Display';
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 0.1em;
}

.footer__text,
.footer__link {
  font-family: 'PT Sans';
  font-size: 14px;
}

.footer__category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer__category-buttons .btn {
  font-family: 'PT Sans';
  background-color: black;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  text-align: center;
  color: lightgray;
  font-size: 14px;
  transition: all 0.5s;
  border-radius: 0;
  text-transform: lowercase;
}

.footer__category-buttons .btn:hover {
  background-color: #333;
  color: white;
}

.footer__bottom {
  background-color: #000;
}

.footer__bottom .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.footer__desc,
.footer__bottom .footer__text {
  font-family: 'PT Sans';
  font-size: 12px;
  color: #777;
}
.footer__bottom .footer__desc {
  text-decoration: underline;
  color: #777;
}
.footer__bottom .footer__logo {
  text-transform: uppercase;
  color: #777;
}
.footer .form-inline {
  display: flex;
  margin-top: 30px;
}
.form-control::placeholder {
  font-family: 'PT Sans';
  font-size: 14px;
  color: grey;
}
.form-control {
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  padding: 10px 15px;
}
.footer__form-btn {
  font-family: 'PT Sans';
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  background-color: #0f0f0f;
  border-radius: 0;
  transition: all 0.5s;
}
.footer__form-btn:hover {
  color: #777;
  background-color: black;
}
/* ===============END FOOTER==================== */

/* ========MEDIA QUERIES========== */

/* ==== screens >=1920px ====== */
@media (min-width: 1920px) {
  .header__top {
    font-size: 14px;
  }
}

/*==== screens 1440px to 1919px ====*/
@media (min-width: 1440px) and (max-width: 1919px) {
  .header__top {
    font-size: 13px;
  }
}

/*=== screens 1024px to 1439px ====*/
@media (min-width: 1024px) and (max-width: 1439px) {
  .header__top {
    font-size: 12px;
  }
}
/*=== screens 768px to 1023px ===*/
@media (min-width: 768px) and (max-width: 1023px) {
  .header__top {
    font-size: 11px;
  }

  .header__contact-item {
    padding-right: 5px;
  }
}
/*=== screens 767px =====*/
@media (max-width: 767px) {
  .header__top {
    flex-direction: column;
    align-items: flex-start;
    font-size: 10px;
  }

  .container {
    padding: 0 10px;
  }

  .header__contact-info {
    flex-direction: column;
    gap: 5px;
  }

  .header__contact-item::after {
    content: '';
  }

  .header__contact-item {
    padding-right: 0;
  }

  .header__user-login {
    order: -1;
    align-self: flex-end;
    text-align: right;
    padding-bottom: 5px;
  }
}

/* ========END MEDIA QUERIES========== */
